
	<div class="wraper" style="background-color: #f5f5f5">
		<div class="sr_main" id="contentMain">
			<!--  -->
			<div class="user-center">
				<div class="center-inner">
					<div class="my-info">
						<div class="avatar">
						    <!-- 头像 -->
						   <!--  <img src="{$user.user_picture}"> -->
							<i class="customer">不大懂</i>
						</div>
						<div class="customer">
							<p>             
								<span>{$user['nickname']}</span>
								<!--  -->
								<a class="switch-account"><i></i></a>
							</p>
							<p class="small">台创工场，你想要的，这里都有</p>
						</div>
					</div>
					<div class="order-item">
						<div class="module-title">
							<h3>
								<a class="link-area" href="{:url('shopping_all')}">我的订单
									<span class="fr gray666">查看全部订单</span><i class="arrow-right"></i>
								</a>
							</h3>
						</div>
						<div class="order-type">
							<ul class="flex">
								<li class="flex-item5"><a href="{:url('wait_pay')}"><i class="ico-status waitPay"></i>待付款</a></li>
								<li class="flex-item5"><a href="{:url('wait_send')}"><i class="ico-status waitSend"></i>待发货</a></li>
								<li class="flex-item5"><a href="{:url('wait_comfirm')}"><i class="ico-status waitComfirm"></i>待收货</a></li>
							</ul>
						</div>
					</div>
					<div class="module-title">
						<h3><a class="link-area" href="{:url('address')}">收货地址管理<i class="arrow-right"></i></a></h3>
					</div>
					<div class="module-title nomar">
						<h3 class="service" data-service="true"><a href="javascript:" class="link-area">在线客服</a><i class="arrow-right"></i></h3>
					</div>
				</div>
			</div>
			<div class="mask">
			</div>
		</div>
		
	</div>
