<!DOCTYPE html>
<html>

<head>
	<meta charset=UTF-8> 
	<title>台创工场</title> 
	<!-- logo -->
	<link rel="icon" href="img/logo.png" type="image/x-icon"/>

	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1,minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name=keywords content="台创工场"/> 
	<meta name=description content="台创工场"/>
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv=Cache-Control content="no-cache, no-store, must-revalidate"/> 
	<meta http-equiv=Pragma content=no-cache /> 
	<meta http-equiv=Expires content=0 /> 
	<meta http-equiv=Expires content="Tue, 01 Jan 1980 1:00:00 GMT"/> 
	
	<!-- 样式 -->	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/cms.css" />

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>

</head>
<body>

	<!-- 回到顶部 -->
	<div id="goTopBtn" class="back-top"></div>

	<div class="wraper fixwraper noEmpty" id="contentMain" style="padding-top: 41px;">

		<!-- 导航 -->
		<div class="page-title" style="top: 0px;">
			<div class="cms-nav nav-container">
				<nav class="nav nav-box">
					<ul class="nav-list">
						<li><a href="index.html">首页</a></li>
						<li><a href="wenju.html">文具</a></li>
						<li><a href="riyongpin.html">日用品</a></li>
						<li><a href="wenchuang.html">文创商品</a></li>
						<li><a href="dszp.html" class="active">大师作品</a></li>
						<li><a href="taiwan.html">台湾作品</a></li>
						<li><a href="dalu.html">大陆作品</a></li>
					</ul>				
				</nav>
			</div>
		</div>

		<!-- 搜素框 -->
		<div class="classify" style="padding: 10px;">
			<form id="sr_fm"> 
			<div class="search-inner sr_inp_bg focus"> 
				<div class="search-center">
					<i class="glyphicon glyphicon-search"></i>
				</div> 
				<input type="search" class="sr_inp" placeholder="搜索" style="margin-left: 5px">
			</div> 
			</form> 
		</div>

		<!-- 轮播图 -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="img/lbt1.jpeg" alt="">
		    </div>
		    <div class="item">
		      <img src="img/lbt2.jpeg" alt="">
		    </div>
		    <div class="item">
		      <img src="img/lbt3.jpeg" alt="">
		    </div>
		    <div class="item">
		      <img src="img/lbt4.jpeg" alt="">
		    </div>
		    <div class="item">
		      <img src="img/lbt5.jpeg" alt="">
		    </div>
		    <div class="item">
		      <img src="img/lbt6.jpeg" alt="">
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previews</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

		<div class="title title01">大师展示</div>

		<!-- 大师列表 -->
		<div class="sr_list sr_adjust teacherShow">
			<ul class="pre-list pre-list-2" id="menu">
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="pre-item">
						<a href="teacherWork.html">
							<img src="img/dashi.jpg" alt="">
						</a>
						<div class="pre-info">
							<a href="teacherWork.html">
								<p class="pre-name">李老师</p>
							</a>
							<p class="pre-subtitle">简介：世界经典珍藏中文版，魔幻之作，含350多个零件</p>
							<div class="workWatch">
								<p class="sumWatch">浏览：188</p>
								<p class="sumWork">作品数：32</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="loading_bot"><!-- <span>加载中</span> --><em>没有更多</em></div>
		</div>
	</div>

	<div class=fixed-bt> 
		<div class=nav id=nav> 
			<a href="index.html" class="nav-item active"><span class="icon icon-pre"></span>精选</a>
			<a href=shopping.html class="nav-item"><span class="icon icon-bag"></span>购物车</a> 
			<a href=center.html class="nav-item islogin"><span class="icon icon-user"></span>我的</a> 
		</div> 
	</div>

	<script type="text/javascript" src="js/scrollTo.js"></script>
</body>
</html>