<!DOCTYPE html>
<html>

<head>
	<meta charset=UTF-8> 
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1,minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name=keywords content=""/> 
	<meta name=description content=""/>
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv=Cache-Control content="no-cache, no-store, must-revalidate"/> 
	<meta http-equiv=Pragma content=no-cache /> 
	<meta http-equiv=Expires content=0 /> 
	<meta http-equiv=Expires content="Tue, 01 Jan 1980 1:00:00 GMT"/> 
	<title>台创工场</title> 
	<link rel="icon" href="img/logo.png" type="image/x-icon"/>
	<div style=display:none t="2017-03-24 14:07:32"></div> 
	
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/center.css">

	<script src="js/jquery.js"></script>
	
</head>
<body style="background-color: white;">

	<!-- 回到顶部 -->
	<div id="goTopBtn" class="back-top"></div>

	<div class="wraper fixwraper noEmpty">
		
		<div class="page-title">
		   <h2>
		     <span>全部订单</span>
		     <a href="javascript:history.back(-1);" class="arrow-left backpage"></a>
		     <a href="javascript:" class="service link-area"></a>
		   </h2>
		 </div>

		<!-- 订单列表为空 -->
		<div class="empty-car" id="cartEmpty">
	    <i class="icon"></i>
	    <p class="gray84 mt10">您还没有买过东西哦~</p>
	  </div>

  	<!-- 订单列表非空 -->
		<div class="order-list">
			<ul id="list">
				<li>
					<div class="order-head">
						<p>
							<span>订单号:200214789</span><b>正在路上</b>
						</p>
					</div>
					<div class="order-address">
						<p class="consigner">
							<span>收货人:bbb</span>15654237854
						</p>
						<p>
							收货地址:福建省 厦门市 思明区 福建省厦门市
						</p>
					</div>
					<div class="order-item">
						<a class="pro-item" href="product.html">
						<div class="item-img">
							<img src="img/huopin.jpg">
						</div>
						<div class="item-info">
							<p class="name">
								纯藕粉 何田田
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥78<span class="gray84 ml10 f12 fr">单件运费 ¥0</span>
							</p>
							<p class="num">
								<span class="count">x1</span><span class="opt">          预定/5个工作日发货 1包装</span>
							</p>
						</div>
						</a>
					</div>
					<div class="order-total">
						<p>
							共 1 件，合计：¥78 <span class="gray84 f12">(含运费¥0)</span>
						</p>
					</div>
				</li>
				<li>
					<div class="order-head">
						<p>
							<span>订单号:200214789</span><b>正在路上</b>
						</p>
					</div>
					<div class="order-address">
						<p class="consigner">
							<span>收货人:bbb</span>15654237854
						</p>
						<p>
							收货地址:福建省 厦门市 思明区 福建省厦门市
						</p>
					</div>
					<div class="order-item">
						<a class="pro-item" href="product.html">
						<div class="item-img">
							<img src="img/huopin.jpg">
						</div>
						<div class="item-info">
							<p class="name">
								纯藕粉 何田田
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥78<span class="gray84 ml10 f12 fr">单件运费 ¥0</span>
							</p>
							<p class="num">
								<span class="count">x1</span><span class="opt">          预定/5个工作日发货 1包装</span>
							</p>
						</div>
						</a>
					</div>
					<div class="order-total">
						<p>
							共 1 件，合计：¥78 <span class="gray84 f12">(含运费¥0)</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class=fixed-bt> 
		<div class=nav id=nav> 
			<a href="index.html" class="nav-item"><span class="icon icon-pre"></span>精选</a>
			<a href=shopping.html class="nav-item"><span class="icon icon-bag"></span>购物车</a> 
			<a href=center.html class="nav-item islogin"><span class="icon icon-user"></span>我的</a> 
		</div> 
	</div>

	<div class="mask-opacity"></div>
		<div class="pop pop-noMask dailog">
			<span class="close">X</span>
			<div class="pop-bd">
				<div>已加入购物袋</div>
			</div>
		</div>
	</div>	

	<script type="text/javascript" src="js/customer.js"></script>
</body>
</html>


