	<div class=fixed-bt> 
		<div class=nav id=nav> 
			<a href="{:url('index/topage', 'page=index')}" class="nav-item active"><span class="icon icon-pre"></span>精选</a>
			<a href={:url('index/topage', 'page=shopping')} class="nav-item"><span class="icon icon-bag"></span>购物车</a> 
			<a href={:url('index/topage', 'page=center')} class="nav-item islogin"><span class="icon icon-user"></span>我的</a> 
		</div> 
	</div>

	<script type="text/javascript" src="__PUBLIC__/js/scrollTo.js"></script>
</body>
</html>