  </div>

	<script src="http://www.jq22.com/jquery/jquery-ui-1.10.2.js" type="text/javascript"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/raphael.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/selectivizr-min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.mousewheel.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.vmap.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.vmap.sampledata.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/fullcalendar.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/gcal.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/datatable-editable.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.easy-pie-chart.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/excanvas.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/isotope_extras.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/modernizr.custom.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/select2.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/styleswitcher.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/wysiwyg.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/summernote.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.inputmask.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.validate.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/bootstrap-fileupload.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/bootstrap-timepicker.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/bootstrap-colorpicker.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/typeahead.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/daterange-picker.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/date.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/morris.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/skycons.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/fitvids.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/jquery.sparkline.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/main.js" type="text/javascript"></script>
  <script src="__PUBLIC__/js/respond.js" type="text/javascript"></script>

  </body>
</html>