{include file="header"}


      <div class="container-fluid main-content">
        <!-- Statistics -->
        <div class="row">
          <div class="col-lg-3">
            <div class="widget-container fluid-height">
              <div class="heading">
                <i class="icon-reorder"></i>个人信息
              </div>
              <div class="widget-content padded">
                <ul class="no-style">
                  <li>
                    今天是 2017年04月12日 星期三
                  </li>
                  <li>
                    Aliquam tincidunt mauris eu risus.
                  </li>
                  <li>
                    Vestibulum auctor dapibus neque.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="widget-container stats-container">
              <div class="col-md-3">
                <div class="number">
                  <div class="icon globe"></div>
                  86<small>%</small>
                </div>
                <div class="text">
                  Overall growth
                </div>
              </div>
              <div class="col-md-3">
                <div class="number">
                  <div class="icon visitors"></div>
                  613
                </div>
                <div class="text">
                  用户人数
                </div>
              </div>
              <div class="col-md-3">
                <div class="number">
                  <div class="icon money"></div>
                  <small>$</small>924
                </div>
                <div class="text">
                  Sales
                </div>
              </div>
              <div class="col-md-3">
                <div class="number">
                  <div class="icon chat-bubbles"></div>
                  325
                </div>
                <div class="text">
                  New followers
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>


    
{include file="footer"}