{include file="header"}

      <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            修改个人信息
          </h1>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <div class="widget-container fluid-height clearfix">
                <div class="heading">
                  <i class="icon-reorder"></i>个人信息
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <div class="widget-content padded">
                    <form action="{:url('home/profile' ,'action=edit')}" class="form-horizontal" method="post" enctype="multipart/form-data">

                      <div class="form-group">
                        <label class="control-label col-md-2" >用户名</label>
                        <div class="col-md-3">
                          <input class="form-control" name="username" type="text" value="{$profile.username}" disabled="disabled">
                          <input type="hidden" name="username" value="{$profile.username}">
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="control-label col-md-2">用户昵称</label>
                        <div class="col-md-3">
                          <input class="form-control" name="nickname" type="text" value="{$profile.nickname}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-2">电子邮箱</label>
                        <div class="col-md-3">
                          <input class="form-control" name="email" type="text" value="{$profile.email}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-2">联系方式</label>
                        <div class="col-md-3">
                          <input class="form-control" name="telephone" type="text" value="{$profile.telephone}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-2">用户密码</label>
                        <div class="col-md-3">
                          <input class="form-control" placeholder="======留空为不修改=======" name="password" type="password" >
                        </div>
                      </div>




                      <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-7">
                          <button class="btn btn-primary" type="submit">提交</button>
                          <a class="btn btn-default-outline" onclick="javascript: window.history.go(-1);">取消</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{include file="footer"}